/* ---------Single Page Website CSS by Kelly King ----------*/

/* from http://www.adventuresinwebdesign.com/samples/anchors/blog/ */

body {
        background-color: #707070;
}

#page1 {
	height:1100px;
	width:1000px;
	background:#afc9ff;
        filter:alpha(opacity=70);
        opacity:0.9;
	padding-top:110px;
	}
	
#page2 {
	height:1100px;
	width:1000px;
	background:#777cdc;
        filter:alpha(opacity=70);
        opacity:0.9;
	padding-top:150px;
	}
	
#page3 {
	height:1100px;
	width:1000px;
	background:#9b70c0;
        filter:alpha(opacity=70);
        opacity:0.9;
	padding-top:150px;
	}

#page4 {
	height:1100px;
	width:1000px;
	background:#7b50a0;
        filter:alpha(opacity=70);
        opacity:0.9;
	padding-top:150px;
	}
	
.page-padding {height:90px; width:100%;}

a { color:white; text-decoration:none;}
	
a:hover { text-decoration:underline;}
